!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
    <%-include('./partials/header.ejs')%>
  
    <body>
        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Producto a Editar: <i class="edit-product-title">"<%= productToEdit.nombre %>"</i></h2>
                </div>
            </div>
            <div class="col-md412">
                <form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">     
                    <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <input type="text" id="name" name="nombre"class="form-input-text" value="<%= productToEdit.nombre %>">
                        </div>
                        <div class="col-12">
                            <label for="description" class="form-label">Descripción:</label>
                            <textarea name="descripcion" id="description" class="form-input-text"><%= productToEdit.descripcion %></textarea>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="price" class="form-label">Precio del producto:</label>
                            <input type="number" id="price" name="precio" class="form-input" value="<%= productToEdit.precio %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="discount" class="form-label">Descuento:</label>
                            <input type="number" id="discount" name="descuento" class="form-input" value="<%= productToEdit.descuento %>">
                        </div>
                        
                        <div class="col-12 col-md-6">
                            <label for="delivery" class="form-label">Delivery:</label>
                            <input type="number" id="delivery" name="delivery" class="form-input" value="<%= productToEdit.delivery %>">
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="category" class="form-label">Categoria:</label>
                            <input type="text" id="category" name="categoria" class="form-input" value="<%= productToEdit.categoria %>">
                        </div>
                        
                        <div class="col-12 col-md-6">
                            <label for="color" class="form-label">Color:</label>
                            <input type="text" id="color" name="color" class="form-input" value="<%= productToEdit.color %>">
                        </div>
                       
                        <div class="col-12">
                            <label for="imagen" class="form-label">Sube la imagen:</label>
                            <input type="file" name="imagen" id="file">
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="buy-now-button">Guardar producto</button>
                        </div>
                        
                    </div>
                </form>
            </div>
    
        </div>
    </body>

    <%-include('./partials/footer.ejs')%>
 </html>