<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
    <%-include('./partials/navBar.ejs')%>

    <body>
        <title>Descripcion</title>
        <div class="mainSection">
            <!--Seccion 1><-->
            <div class="prdDescripcion">
                <div class="cntPrd001">
                    <img src="/img/termo001.jpg" id="prd001">
                    <ul id="listaPrd">
                        <li>
                            <img src="/img/termo002.jpg" id="prd002">
                        </li>
                        <li>
                            <img src="/img/termo003.jpg" id="prd003">
                        </li>
                        <li>
                            <img src="/img/termo002.jpg" id="prd004">
                        </li>
                        <li>
                            <img src="/img/termo003.jpg" id="prd005">
                        </li>
                        <li>
                            <img src="/img/termo002.jpg" id="prd006">
                        </li>
                    </ul>
                </div>
            </div>
            <!--Seccion2><-->
            <div class="detalleProducto">
                <label id="tituloProducto"><%= product.nombre %><br></label>
                <p id="precioProducto">$<%= product.precio %><br></p>
                <label id="disp">Disponibilidad</label>
                <span id="descProducto"><p>Descripción del Producto: <%= product.descripcion %></p></span>
                <label id="pers"><br>Personalizacion</label>
                <p id="color"><bold>Color: </bold><%= product.color %></p>
                <ul class="coloresProducto">
                    <li>
                        <img id="clrPrd1" src="/img/termo002.jpg">    
                    </li>
                    <li>
                        <img id="clrPrd2" src="/img/termo003.jpg">    
                    </li>
                    <li>
                        <img id="clrPrd3" src="/img/termo002.jpg">    
                    </li>
                </ul>
                
                <ul class="tProd"> 
                    <li><a id="tamanioProducto">Elige Tamaño</a>
                        <select id="sizeProd">
                            <option>Grande</option>
                            <option>Mediano</option>
                            <option>Chico</option>
                        </select>
                    </li>
                    <li><a id="cantidadProducto">Selecciona Cantidad</a>
                        <select id="qtyPrd">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>otra</option>
                        </select>
                    </li>
                </ul>
               
                <ul class="bProd">
                    <li id="bProducto">
                        <button id="btnAgregar">Agregar al Carrito</button>
                    </li>
                    <li id="fProducto">
                        <button id="btnFav">Fav</button>
                    </li>
                </ul>
                <span id="politicasEnvio">
                    <label id="pEnvio">Politicas de Envio</label>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
                </span>
            </div>   
        </div>         
    </body>
</html>