<header>
    <h1>CARRITO DE COMPRA</h1>
</header>
<link rel=StyleSheet  href="/css/products.css">
<section class="listaProductos">
    <div class="separator"></div>
    <h1>LISTA DE PRODUCTOS</h1>
    <section class="productSection2">
    <% for (const product of products) { %>
        <div class="col-12 col-sm-6 col-lg-3">
				<a href="/products/detail/<%= product.id %>">
					<article class="product">
                      <!--  <h1><%= product.nombre %></h1>
                        <h4><%= product.descripcion %></h4>
                        <h3>Categoria: <%= product.categoria %></h3>
                        <h3>Color: <%= product.color %></h3>
                        <h3>$<%= product.precio %></h3>
                        <span><%= product.descuento %>% OFF pago en efectivo</span>
                        <span>$<%= product.delivery %> de envío</span>-->
                        <div class="card">
                            <img src=<%= product.imagen %> alt="">
                            <span><%= product.nombre %><br><br></span>
                            <p><br>Descripción:<br><%= product.descripcion %><br><br></p>
                            <p><br>Categoria: <%= product.categoria %><br><br></p>
                            <p><br>Precio: $<%= product.precio %><br><br></p>
                            <p><br><%= product.descuento %>% OFF pago en efectivo<br><br></p>
                            <p id="1"><br>$<%= product.delivery %> de envío<br><br></p>
                        </div>
                    </article>	
				</a>
		</div>
        <br>
    <% } %>
    </section>
</section>
