<header>
    <h1>CARRITO DE COMPRA</h1>
</header>

<section class="listaProductos">
    <h1>LISTA DE PRODUCTOS</h1>
    
                
        <div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Ofertas</h2>
				</div>
				<!-- Show the "in-sale" products -->

    <% for (const product of products) { %>
				<% inSale.forEach(function(product){ 
					let finalPrice = (product.precio * ((100 - product.descuento) / 100)).toFixed(0)
				%>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/detail/<%= product.id %>">
								<figure class="product-box_image">
									<img src="/img/<%= product.imagen %>" alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<h2><%= toThousand(finalPrice) %></h2>
									<span><%= product.descuento %> %OFF</span>
									<p><%= product.nombre %></p>
								</article>
							</a>
						</section>
					</div>
				<% }) %>
				</div>
			</div>


        <br/> <%= product.nombre %>
    <% } %>

  

</section>
    

<section class="carrito">

            <article class="product">
                <img src="cafeLatte.PNG" alt="cafe latte" class="image">
                <h3 class="name">Café Latte</h3>
                <p class="description">descripción</p>
                <p class="price">$45.00</p>
                <p class="discount">15% de descuento pago en efectivo</p>
                <p class="delivery">$12.00</p>
            </article>
            <article class="product">
                <img src="cappuccino.PNG" alt="cafe cappuccino" class="image">
                <h3 class="name">Café Cappuccino</h3>
                <p class="description">descripción</p>
                <p class="price">$54.00</p>
                <p class="discount">15% de descuento pago en efectivo</p>
                <p class="delivery">$12.00</p>
            <article class="product">
                <img src="expressoAmericano.PNG" alt="cafe expresso americano">
                <h3 class="name">Café Expresso Americano</h3>
                <p class="description">descripción</p>
                <p class="price">$40.00</p>
                <p class="discount">15% de descuento pago en efectivo</p>
                <p class="delivery">$12.00</p>
            </article>
            <article class="product">
                <img src="latteMacchiato.PNG" alt="cafe latte macchiato">
                <h3 class="name">Café Latte Macchiato</h3>
                <p class="description">descripción</p>
                <p class="price">$60.00</p>
                <p class="discount">15% de descuento pago en efectivo</p>
                <p class="delivery">$12.00</p>
            </article> 
            <article class="product">
                <img src="mocha.PNG" alt="cafe mocha">
                <h3 class="name">Café Mocha</h3>
                <p class="description">descripción</p>
                <p class="price">$60.00</p>
                <p class="discount">15% de descuento pago en efectivo</p>
                <p class="delivery">$12.00</p>
            </article>
            <article class="product">
                <img src="vainillaLatte.PNG" alt="cafe vainilla latte">
                <h3 class="name">Café Vainilla Latte</h3>
                <p class="description">descripción</p>
                <p class="price">$57.00</p>
                <p class="discount">15% de descuento pago en efectivo</p>
                <p class="delivery">$12.00</p>
            </article>

</section>
